name: PR Closed - purging developer_branch
on: 
  pull_request_target:
    branches: [githubActions]
    types: [closed]
    paths-ignore: 
     - 'Validated_Partners/**'
     - '.github/**'
jobs:
  merge-master-back-to-dev:
    if: github.event.pull_request.merged == false
    timeout-minutes: 2
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        ref: developer_branch
        fetch-depth: 0
    - name: Remove Updates from this PR
      run: |
        # Get Commits from this PR
        TAG=PR_${{ github.event.pull_request.number }}
        commits=$(git rev-list HEAD --grep=$TAG --max-count=1)     
        echo "commits: $commits"
    
        # Revert Commits or Log that no change was made
        git config --local user.email "dev@null"
        git config --local user.name "Conformitron Bot"
        
        git revert $commits --no-edit || echo "Commit $commits not reverted"

        git push
        