name: PRs to Main
on: 
  pull_request:
    branches: [main]
    types: [closed]
jobs:
  merge-master-back-to-dev:
    if: github.event.pull_request.merged == false
    timeout-minutes: 2
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        ref: dev_branch
    - name: Set Git config
      run: |
          git config --local user.email "dev@null"
          git config --local user.name "CI Bot"
    - name: Merge main back to dev
      run: |
          git fetch origin main:main
          git checkout dev_branch
          git merge main --no-edit --allow-unrelated-histories
          git push origin dev_branch